## list 列表

In [3]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(len(letters))
print(letters[2:5])
print(letters[2])

10
['c', 'd', 'e']
c

In [8]:
letters[2] = '2'
print(letters)
print(letters[-2])
if 'a' in letters:
    print('a is in letters')

['a', 'b', '2', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
i

####  列表的增加與刪除

In [22]:
list = ['pointA']
print(list)
list.insert(-1, 'pointB') # insert
print(list) 
list.remove('pointA') # remove
list_2 = list.copy()
print(f'list_2 = {list_2}') # copy

list_num = [1, 2, 3, 4, 5]
del list_num[1] # delete
print(list_num)

['pointA']
['pointB', 'pointA']
list_2 = ['pointB']
[1, 3, 4, 5]

#### list運算

In [38]:
list1, list2 = [1, 2, 3], [4, 5, 6]
print(list1 + list2) # merge
print(list1 * 3) # repeat

print(len(list1)) # length
print(max(list1)) # max
print(min(list1)) # min

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
3
1

In [33]:
# 列表
list = ['i', 'a', 'g', 'h', 'c', 'd', 'b' , 'e', 'f', 'j']

print(sorted(list)) # sorted
list.sort() # sort
print(list)

list.reverse() # reverse
print(list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

## tuple 元祖

In [42]:
# tuple創建後，裡面的值無法單獨被修改與刪除
num = (1, 2, 3, 4, 5)
print(num)

#重新賦值
num = (2, 3, 4, 5, 6) 
print(num)

#數值選取
print(len(num), max(num),min(num))

(1, 2, 3, 4, 5)
(2, 3, 4, 5, 6)
11 2

In [36]:
# print tuple中的值
for num in num:
    print(num)

2
3
4
5
6

In [37]:
data = ('a', 'b', 'c', 'd', 'e')

for data in data:
    print(data)

a
b
c
d
e

## dictionary

In [50]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student['name'], student['age'])
print(f"I am {student['name']}, I am {student['age']} years old")
print(student['courses'])

# 新增一個值
student['height'] = 180
print(student)
print(student['height'])

John 25
I am John, I am 25 years old
['Math', 'CompSci']
{'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci'], 'height': 180}
180

#### 搜尋

In [61]:
#case01
user = {'user_name':'Avery', 'first_name':'Cheng-En', 'last_name':'Tsai'}

for key, value in user.items():
    print(f'The {key} is {value}.')

print("-----------------")
for key in user.keys():
    print(key)

print("-----------------")
for value in sorted(user.values()):
    print(value)
    print(value.upper())

The user_name is Avery.
The first_name is Cheng-En.
The last_name is Tsai.
-----------------
user_name
first_name
last_name
-----------------
Avery
AVERY
Cheng-En
CHENG-EN
Tsai
TSAI

In [65]:
#case02
pizza = {
    'crust': 'thick',
    'toppings': ['mushrooms', 'extra cheese'],
}

print(f"You ordered a {pizza['crust']}-crust pizza with the following toppings:")

for topping in pizza['toppings']:
    print("\t" + topping)

for topping in pizza['toppings']:
    print(topping)

You ordered a thick-crust pizza with the following toppings:
	mushrooms
	extra cheese
mushrooms
extra cheese

## set 集合

In [3]:
colors = {'red', 'green', 'blue', 'yellow', 'red'}
print(colors) #集合不會有重複的值
print('red' in colors)

{'blue', 'yellow', 'red', 'green'}
True

In [9]:
a = set('abcdefg')
b = set('cdefghi')

print(a - b) #差集
print(sorted(a | b)) #聯集
print(sorted(a & b)) #交集
print(a ^ b) #不同的值

{'a', 'b'}
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['c', 'd', 'e', 'f', 'g']
{'a', 'b', 'h', 'i'}

In [24]:
companies = set(('Apple', 'Google', 'Microsoft', 'Amazon'))
companies.add('Tesla')
print(companies)

{'Microsoft', 'Tesla', 'Amazon', 'Apple', 'Google'}

In [36]:
new_set = set(('Apple', 'Google', 'Microsoft', 'Amazon'))
new_set.update({'Twitter'})
print(new_set)

new_set.update([1,4],[5,6])
print(new_set)

{'Apple', 'Twitter', 'Microsoft', 'Google', 'Amazon'}
{1, 4, 5, 6, 'Amazon', 'Twitter', 'Google', 'Microsoft', 'Apple'}

In [35]:
print(new_set)
new_set.remove('Twitter') #無法刪除不存在的值
print(new_set)

{1, 4, 5, 6, 'Amazon', 'Twitter', 'Google', 'Facebook', 'Microsoft', 'Apple'}
{1, 4, 5, 6, 'Amazon', 'Google', 'Facebook', 'Microsoft', 'Apple'}

In [38]:
new_set.remove('Apple')
print(new_set)
new_set.discard('Facebook') #可以刪除不存在的值
print(new_set)

{1, 4, 5, 6, 'Amazon', 'Twitter', 'Google', 'Microsoft'}
{1, 4, 5, 6, 'Amazon', 'Twitter', 'Google', 'Microsoft'}