## basic

### define a function

In [5]:
def myFunction():
    a = 1 + 3
    print(f"sum={a}")

myFunction()

sum=4

In [6]:
def sum(num1, num2):
    print(f"sum={num1 + num2}")

sum(1, 3)
sum(246, 4)

sum=4
sum=250

### arguments

In [7]:
#先定義函數標籤
def describe_person(name,age):
    print(f'{name} is {age} years old.')
describe_person('Avery', 27)

#重新定義函數標籤位置
describe_person(age='18', name='Apple')

Avery is 27 years old.
Apple is 18 years old.

In [9]:
#預先定義參數名稱
def describe_pet(pet_name, animal_type = "dog"):
    print(f"I have a {animal_type}, and its name is {pet_name}")

#修改已定義的參數名稱
describe_pet("Tommy")
describe_pet("Kitty", "cat")

I have a dog, and its name is Tommy
I have a cat, and its name is Kitty

In [18]:
fruits = ['apple', 'banana', 'orange']
def my_favorite_fruits(fruit):
    for x in fruit:
        print(f"My favorite fruit is {x}")
    for y in fruit:
        print(y)
my_favorite_fruits(fruits)

My favorite fruit is apple
My favorite fruit is banana
My favorite fruit is orange
apple
banana
orange

In [18]:
def set_to_one(input):
    for i in range(len(input)):
        input[i] = 1 -i

number_list = [1, 2, 3, 4, 5]
set_to_one(number_list)
print(number_list)

number_list2 = [1, 2, 3, 4, 5]
set_to_one(number_list2[:]) # 複製一份新的list
print(number_list2)

[1, 0, -1, -2, -3]
[1, 2, 3, 4, 5]

In [21]:
# variadic function

def report(name, *grades): # *(參數名):代表可以接受任意數量的參數
    total_grade = 0
    for grade in grades:
        total_grade += grade
    print(f"{name}'s totol grade is {total_grade} ")

report ('Avery',60, 92, 40, 93, 13, 88)

Avery's totol grade is 386

In [25]:
# kyword argument

def info(name, **kw): #**(參數名):包含參數名的參數
    print('name is', name)
    for k, v in kw.items():
        print(k, v)

info('Avery', age='27', school='ncku', country='Taiwan')

name is Avery
age 27
school ncku
country Taiwan

### return value

In [31]:
#返回函數
def get_formatted_name(first_name, last_name):
    return f'{last_name.title()} {first_name.title()}'

print(get_formatted_name('Avery','Tsai'))

Tsai Avery

In [46]:
def MC(data, points):
    if points < 5:
        return f'{data}', points
    else:
        return f'{data}', (8 - points)

print(MC('0', 7))
print(MC('1', 4))

('0', 1)
('1', 4)

## Advance

In [ ]:
import pizza