In [5]:
import numpy as np
import pandas as pd

In [6]:
d = {
    'one': [1, 2, 9, 3],
    'two': [4, 5, 6, 10],
    'three': [7, 8, 11, 12]
}

d_df = pd.DataFrame(d)
d_df

   one  two  three
0    1    4      7
1    2    5      8
2    9    6     11
3    3   10     12

In [9]:
print(d_df['one']) #查詢欄位
print(type(d_df['one'])) #查詢欄位型態
print(d_df.shape) #查詢維度

0    1
1    2
2    9
3    3
Name: one, dtype: int64
<class 'pandas.core.series.Series'>
(4, 3)

In [11]:
d01_data = {
    'one':pd.Series([1, 2, 3], name='col_one', index=['a', 'b', 'c']),
    'two':pd.Series([4, 5, 9, 6], name='col_two', index=['a', 'b', 'c', 'd'])
}

df = pd.DataFrame(d01_data)
df

   one  two
a  1.0    4
b  2.0    5
c  3.0    9
d  NaN    6

In [19]:
new_df = df.reset_index()
new_df #重設索引

  index  one  two
0     a  1.0    4
1     b  2.0    5
2     c  3.0    9
3     d  NaN    6

In [20]:
new_df = df.reset_index(drop=True) #不保留原索引
new_df

   one  two
0  1.0    4
1  2.0    5
2  3.0    9
3  NaN    6

In [21]:
new_df.reset_index(drop=True, inplace=True) #直接修改原資料 
new_df

   one  two
0  1.0    4
1  2.0    5
2  3.0    9
3  NaN    6