In [5]:
import numpy as np
import pandas as pd

In [6]:
d = {
    'one': [1, 2, 9, 3],
    'two': [4, 5, 6, 10],
    'three': [7, 8, 11, 12]
}

d_df = pd.DataFrame(d)
d_df

   one  two  three
0    1    4      7
1    2    5      8
2    9    6     11
3    3   10     12